
mixin example-link(name, label)
    a.label(
        href='index.php?example=',
        href=$name,
        class='label-'.($example === $name ? 'primary' : 'default')
    )= $label


doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type', content='text/html; encoding=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Tale Jade Live Compiler

        <!--[if lt IE 9]>
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,700')
        include ../styles/common.less

    body

        .container

            .page-header
                h2.clearfix
                    | Tale Jade Sandbox
                    small.pull-right
                        a(href='http://jade.talesoft.io', title='The Tale Jade ReadMe File')
                            i.fa.fa-home
                            | About Tale Jade
                        | &nbsp;|&nbsp;
                        a(href='https://github.com/Talesoft/tale-jade')
                            i.fa.fa-github
                            | GitHub Repository

            .row
                .col-md-3
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Examples
                        .panel-body
                            .example-links
                                +example-link('index', 'Index')
                                +example-link('classes', 'Classes')
                                +example-link('ids', 'IDs')
                                +example-link('nesting', 'Nesting')
                                +example-link('block-expansion', 'Block Expansion')
                                +example-link('variables', 'Variables')
                                +example-link('mixins', 'Mixins')
                                +example-link('html-5', 'HTML5')
                                +example-link('xml', 'XML')
                                +example-link('xhtml', 'XHTML')
                                +example-link('attributes', 'Attributes')
                                +example-link('blocks', 'Blocks')
                                +example-link('expressions', 'Expressions')
                                +example-link('escaping', 'Escaping')
                                +example-link('cross-assignments', 'Cross Assignments')
                                +example-link('comments', 'Comments')
                                +example-link('code', 'Code')
                                +example-link('text', 'Text')
                                +example-link('markup', 'Markup')
                                +example-link('inheritance', 'Inheritance')
                                +example-link('includes', 'Includes')
                                +example-link('conditionals', 'Conditionals')
                                +example-link('switch-case', 'Switch/Case')
                                +example-link('loops', 'Loops')
                                +example-link('interpolation', 'Interpolation')
                                +example-link('filters', 'Filters')
                                +example-link('mixin-blocks', 'Mixin Blocks')
                                +example-link('variadics', 'Variadics')
                                +example-link('named-mixin-parameters', 'Named Mixin Parameters')
                                +example-link('attribute-stacking', 'Attribute Stacking')
                                +example-link('filter-maps', 'Filter Maps')
                                +example-link('variable-access', 'Variable Access')
                                +example-link('coffeescript', 'CoffeeScript')
                                +example-link('less', 'Less')
                                +example-link('sass', 'Sass')
                                +example-link('stylus', 'Stylus')
                                +example-link('markdown', 'Markdown')
                                +example-link('forwarding', 'Forwarding')
                                +example-link('indentation', 'Indentation')
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Options
                        .panel-body
                            a.btn.btn-primary.btn-block#saveButton(href='#')
                                i.fa.fa-save
                                | Save Jade
                            hr
                            form.form-horizontal#optionsForm(action='index.php', method='post')

                                strong Mode
                                br
                                label.radio-inline
                                    input(type='radio', name='mode', value='compile', checked) Compile
                                label.radio-inline
                                    input(type='radio', name='mode', value='parse') Parse
                                label.radio-inline
                                    input(type='radio', name='mode', value='lex') Lex
                                hr

                                strong Compile Options
                                .checkbox
                                    label
                                        input(type='checkbox', name='pretty', value='true', checked)
                                        | Format HTML (Pretty Mode)
                                .checkbox
                                    label
                                        input(type='checkbox', name='standAlone', value='true')
                                        | Compile for Stand-Alone use

                .col-md-9

                    .panel.panel-info
                        .panel-heading
                            h3.panel-title Jade
                        .panel-body
                            .editor.editor-jade#jadeEditor

                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title HTML/XML/PHTML/PXML
                        .panel-body
                            .editor.editor-php#phpEditor

            .text-center
                .well.well-sm
                    | &copy; 2016 Torben Köhn <#[a(href='mailto:Torben Koehn <tk@talesoft.io>') tk@talesoft.io]>

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-dreamweaver.js')
        include ../scripts/common.coffee
