

//Will compile to JavaScript in a script-tag (:coffee)
include scripts/common.coffee

//Will compile to CSS correctly (:less)
include styles/common.less


//Will be put in <?php ?> tags correctly (:php)
include code/common.php