

p You're free to indent with whatever space size you like.

  ul
    li: a
    li: a
    li: a

p You can use tabs and spaces, as many as you like after each other
strong Just don't mix them! You'll get an exception anyways, it's really hard to handle.