
:sass

    body, html {
        height: 100%;
    }

    .text {

        &.red {
            color: red;
        }
        &.blue {
            color: blue;
        }

        .bold {
            font-weight: bold;
        }
    }