doctype xml
Customers
    Customer
        ID 5
        FirstName John
        LastName Doe
        Company Contoso
    Customer
        ID 6
        FirstName Jane
        LastName Doe
        Company Contasa